@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

button a {
    -webkit-tap-highlight-color: transparent !important;
}

.container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.mainContainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.headingSection {
    width: 100%;
}

.header {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    position: fixed;
    flex-direction: column;
    z-index: 4;
}

.mainText {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: auto;
    margin-top: -25px;
}

.navbar-links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -40px;
}

.navUL {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
}

.mainLI {
    padding: 0px 20px 0px 70px;
    font-size: 15px;
    text-transform: uppercase;
}

li .navLinks {
    text-decoration: none;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight:500;
    letter-spacing: 1.75px;
    font-style: normal;
}

li .navLinks:hover {
    color:#d4af37;
    transform: scale(1.2);
    text-shadow: none;
    transition: all 0.5s ease;
}


.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.icon-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 3px;
    background-color: white;
    color: white;
    margin: 5px 0px 5px 0px;
    transition: all 0.3s ease;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    border: 1px solid #091242;
    border-radius: 100px;
}


.icon-bar.cross:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.icon-bar.cross:nth-child(2) {
    opacity: 0;
}
  
.icon-bar.cross:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.about-us-banner {
    background-image: url("./assets/mainBG.png") ; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
} 

.containerText {
    margin-top: 0px;
}

.a-container {
    width: 100%;
    margin-top: 50px;
}

.page-title {
    color: #fff;
    font-size: 3.75rem;
    line-height: 1.2;
    font-family: "Merienda", cursive;
    font-weight: 500;
    padding: 0px 0px 10px 0px;
    margin: 0;
}

.page-title-one {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.2;
    font-family: "Merienda", cursive;
    font-weight: 500;
    margin: 0;
    padding: 0px 0px 25px 0px;
}

.page-title-two {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.75;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 35px 0px 0px 0px;
}

.onlineOrder {
    top: 60%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center; 
    z-index: 2; 
    cursor: pointer;
    border-radius: 50px;
    transition-duration: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 14px 14px 16px;
    background-color: white;
    display: inline-block;
    height: auto;
}


.onlineOrder:hover {
    background-color: #d2691e;
    box-shadow:none;
}

.orderButton {
    text-decoration: none;
    color: black;
}

.orderButton:hover {
    color:white;
}


.sectionTwo {
    width: 100%;
    height: auto;
    background-color: #171717;
    padding-top: 100px;
    padding-bottom: 100px;
}

.gridContainer {
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-column-gap: 75px;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 0px;
}

.gridText {
    height: auto;
    text-align: justify;
}

.gtHeading {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    font-family: "Merienda", cursive;
}

.gtTextOne {
    font-size: 1.35rem;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    line-height: 1.3;
    text-align: justify;
}

.menu-button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 14px 14px 16px;
    background-color: #fff;
    display: inline-block;
}

.menuBtn {
    color: black;
    text-decoration: none;
}

.menu-button:hover {
    background-color: #d2691e;
}

.menuBtn:hover {
    color: white;
}

.gridImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    filter: brightness(0.8);
}

.gridImg {
    width: 100%;
}

.thirdContainer {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color:#212121;
}

.gridContainerOne {
    width: 90%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 2fr;
    grid-auto-columns: 1fr;
    padding-top: 0px;
}

.gcoText {
    height: auto;
    text-align: justify;
    font-family: "Lato", sans-serif;
    color: white;
}

.gcoDesc {
    margin-bottom: 200px;
    line-height: 1;
    text-align: justify;
}

.gcoHeading {
    font-family: "lato", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    line-height: 2;
}

.instadesc {
    font-family: "lato", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.2;
}

.gcoLinkWrap {
    display: flex;
    align-items: center;
}

.insta {
    padding: 0px 20px 0px 0px;
}

.instaLink {
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
}

.gcoImg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rightPhoto {
    display: flex;
    flex-direction: column;
    margin-left: -230px;
    z-index: 1;
    position: absolute;
}

.brownie {
    width: 125px;
    margin: 5px 0px -25px -125px;
}

.cake {
    width: 120px;
    margin: 5px 0px 0px -175px;
}

.cupcake {
    width: 100px;
    margin: -15px 0px 0px -110px;
}

.centerPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.pizza {
    width: 300px;
    height: 300px;
}

.leftPhoto {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 95px;
    z-index: 1;
}

.birthday {
    width: 125px;
    margin: 0px 125px 5px 0px;
}

.oreo {
    width: 120px;
    margin:-25px 0px 0px 75px;
}

.sandwich {
    width: 100px;
    margin: -10px 0px 15px 35px;
}

.footerClass {
    width: 100%;
    background-color: #171717;
    height: auto;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 80%;
    background-color: #171717;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    grid-column-gap: 15px;
    grid-auto-columns: 1fr;
    padding-top: 50px;
    height: auto;
    padding-bottom: 30px;
}

.footerGridOne {
    background-color:transparent;
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: px;
}

.fgoLogo {
    width: 100%;
    height: 120px;
}

.zomato {
    width: 120px;
    height: 120px;
    /* margin-top: 50px; */
    margin-bottom: 20px;
}

.zomatoText {
    font-size: 1rem;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.footerGridTwo {
    background-color: transparent;
    height: auto;
    color: white;
    text-align: justify;
    margin-bottom: 60px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLink {
    text-align: justify;
    align-items: flex-start;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: -60px;
}

.flItem {
    list-style: none;
    line-height: 2.2;
}

.links {
    text-decoration: none;
    color: white;
    border-bottom: 1px dotted white;
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
}

.links:hover {
    color: #d4af37;
}

.footerGridFour {
    height: auto;
    background-color: transparent;
    margin-bottom:5px;
}

.footerHeading {
    font-size: 1.5rem;
    color: white;
    margin-top: 75px;
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.fgfText {
    font-size: 0.9rem;
    line-height: 1.2;
    color: white;
    font-family: 'josefin-sans', sans-serif;
    text-align: justify;
    margin-top: 10px;
}

.copyright-block {
    border-top: 1px solid white;
    padding-top: 5px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
  
.copyright-container {
    width: 100%;
}
  
.copyright-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
}
  
.copyright-text {
    color:white;
    margin-bottom: 0;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 0;
    font-family: "Playfair Display", serif;
}

/* AboutPage  */


.aboutImageContainer {
    background-color: #171717;
    padding: 10px 0px 10px 0px;
    background-image: url("assets/bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

.ImgContainer {
    width:100%;
    height: 575px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutTitle {
    position: absolute;
    color: white;
    font-family: "Merienda", cursive;
    text-transform: uppercase;
    font-size: 3rem;
    width: 80%;
    padding: 325px 175px 0px 0px;
}

.aboutDescriptionContainer {
    width: 100%;
    height: auto;
    background-color: #171717;
    margin-top: -2px;
    padding:125px 0px ;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.adcGridContainer {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    grid-column-gap:25px ;
    grid-auto-columns: 1fr;
}

.adcgcImage{
    background-color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

.adcgcImg {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius:10px;
    -webkit-box-shadow: 1px 1px 20px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 1px 1px 20px 0px rgba(255,255,255,0.75);
    box-shadow: 1px 1px 20px 0px rgba(255,255,255,0.75);
}

.adcgcText {
    width: 100%;
    background-color:transparent;
    height: auto;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.35;
    text-align: justify;
}

.timelineContainer {
    width: 100%;
    height: auto;
    background-color: #171717;
}

.timeline {
    position: relative;
    max-width: 700px;
    margin: 0px auto;
    padding: 0px 0px 50px 0px;
    background-color: #171717;
}

.tiLeft {
    margin-left: -250px;
}

.tiRight {
    margin-right: -250px;
}

.timeline-item {
    margin-bottom: 50px;
}

.timeline-content {
    background: #171717;
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10.5px 10.5px 20px rgba(255, 255, 255, 0.1);
}

.timeline-content h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Merienda", cursive;
}

.timeline-content p {
    margin-bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.35;
    text-align: center;
}






/* MENU PAGE  */
.menuContainer {
    padding: 100px 0px;
    background-color: #171717;
}

.menu {
    width: 90%;
    margin: auto;
}

.category {
    border: 1px solid #ccc;
    margin-bottom: 25px;
    border-radius: 5px;
    text-align: left;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-family: "Merienda", cursive;
}

.category h2 {
    margin: 0;
    padding: 10px;
    background-color: #212121;
    cursor: pointer;
    user-select: none;
    color: #d2691e;
}

.category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    text-transform: none;
    font-size: 1.5rem;
}

.category ul li {
    padding: 10px;
    border-top: 1px solid #ccc;
    color: #fff;
}

.category ul li:first-child {
    border-top: none;
}

.prices {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.prices span {
    font-size: 0.9em;
    color: #555;
}


.category .subcategories {
    display: none;
}

.subcategory h3 {
    margin: 0;
    padding: 10px;
    background-color: #000000;
    cursor: pointer;
    user-select: none;
}

.subcategory .items {
    border-collapse: collapse;
    width: 100%;
}

.subcategory .items caption {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.subcategory .items th,
.subcategory .items td {
    padding: 8px;
    text-transform: none;
}

.subcategory .items th {
    background-color: #000000;
}



@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 1025px)  {
    .header {
        flex-direction: row;
        height: 100px;
        justify-content: flex-start;
    }

    .logo {
        width: 375px;
        margin-left: 20px; 
        margin-top: 15px;
    }

    .mainText {
        padding: 20px 0px 20px 0px;
    }
    
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        position: absolute;
        top: 108%;
        left: 0;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        align-items: center;
    }

    .navbar-links.open {
        display: block;
        position: fixed;
        left: 0;
        background-color: rgba(0, 0, 0, 1);
        color: white !important;
        box-sizing: border-box;
        top: 120px;
    }

    .navbar-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 29px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        background-color: transparent;
        color: white;
    }

    .navbar-toggle.open .icon-bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
      .navbar-toggle.open .icon-bar:nth-child(2) {
        opacity: 0;
    }
    
      .navbar-toggle.open .icon-bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
      
      ::-webkit-scrollbar {
        display: none;
    } 

    .imageText {
        top: 35%;
        font-size: 3.2rem;
    } 

    .textImage {
        font-size: 1.55rem;
    }

    .onlineOrder {
        top: 63%;
        font-size: 1rem;
        width: 180px;
    }

    .page-title-one {
        margin-left: 0px;
    }

    .thirdContainer {
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 75px;
    }

    .gridContainerOne {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        height: auto;
    }

    .gcoDesc {
        margin-bottom: 20px;
    }

    .rightPhoto {
        display: none;
    }

    .centerPhoto {
        position: relative;
    }

    .leftPhoto {
        display: none;
    }

    .aboutTitle {
        font-size: 2.85rem;
        width: 80%;
        padding: 275px 160px 0px 0px;
    }
}

@media screen and (max-width: 992px) {

    .header {
        flex-direction: row;
        height: 100px;
    }

    .mainText {
        justify-content: left;
        padding: 20px 0px 20px 0px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        position: absolute;
        top: 108%;
        left: 0;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        align-items: center;
        width: 100%;
    }

    .navbar-links.open {
        display: block;
        position: fixed;
        left: 0;
        background-color: rgba(0, 0, 0, 1);
        color: white !important;
        box-sizing: border-box;
    }

    .navbar-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 29px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        background-color: transparent;
        color: white;
    }

    .navbar-toggle.open .icon-bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
      .navbar-toggle.open .icon-bar:nth-child(2) {
        opacity: 0;
    }
    
      .navbar-toggle.open .icon-bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
      
      ::-webkit-scrollbar {
        display: none;
    }

    .page-title {
        margin-left: 0px;
    }

   .page-title-one {
        margin-left: 0px;
   }

   .page-title-two {
        font-size: 1.5rem;
        margin-left:0px;
    }

    .onlineOrder {
        top: 65%;
    }

    .sectionTwo {
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .gridContainer {
        flex-direction: column-reverse;
        display: flex;
    }

    .gridImage {
        padding-bottom: 20px;
    }

    .footerGrid {
        display: flex;
        flex-direction: column;
    }

    .footerGridOne {
        margin-top: 0px;
    }

    .fgoLogo {
        width: auto;
        height: auto;
    }

    .zomato {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .footerGridFour {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -60px;
    }

    .fgfText {
        margin-top: 20px;
        width: 300px;
        text-align: center;
    }

    .aboutTitle {
        font-size: 2.5rem;
    }

    .adcGridContainer {
        display: flex;
        flex-direction: column;
    }

    .adcgcText {
        line-height: 1;
        margin-top: 30px;
    }
}


@media screen and (max-width:769px) {
    .logo {
        width: 350px;
    }

    .about-us-banner {
        padding-top: 100px; 
        padding-bottom: 75px; 
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        align-items: center;
        width: 100%;
    }
    
    .page-title {
        font-size: 2.5rem; 
    }

    .page-title-one {
        font-size: 2rem; 
    }

    .page-title-two {
        font-size: 1.5rem;
    }

    .onlineOrder {
        width: 180px;
        font-size: 1rem;
    }

    .footerGrid {
        display: flex;
        flex-direction: column;
    }

    .fgoLogo {
        width: 400px;
        height: auto;
    }

    .aboutTitle {
        width: 90%;
        padding: 80px 0px 0px 20px;
        font-size: 2.25rem;
    }

    .adcgcText {
        text-align: center;
    }

    .timeline {
        max-width: 90%;
    }

    .tiLeft {
        margin-left: 0px;
    }

    .tiRight {
        margin-right: 0px;
    }

    .timeline-content.js--fadeInLeft {
        animation-name: fadeInRight;
    }

    .timeline-content.js--fadeInRight {
        animation-name: fadeInLeft;
    }
}

@media screen and (max-width:481px ) {
    .header {
        flex-direction: row;
        height: 100px;
    }

    .logo {
        width: 300px;
    }

    .navbar-toggle {
        right: 0px;
        padding: 20px;
        top: 10px;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        align-items: center;
        width: 100%;
    }

    .navbar-links.open {
        top: 110px;
    }

    .a-container {
        margin-left: -80px;
    }

    .page-title {
        font-size: 2.5rem; 
        margin-left: 90px;
    }

    .page-title-one {
        font-size: 1.75rem; 
        margin-left: 90px;
    }

    .page-title-two {
        font-size: 1rem;
        margin-left:90px;
    }

    .onlineOrder {
        margin-left: 90px;
    }

    .gtTextOne {
        font-size: 1rem;
    }

    .gcoLinkWrap {
        margin-bottom: 25px;
    }

    .gridImg {
        height: 370px;
    }

    .thirdContainer {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .footerGridTwo {
        margin-left: -190px;
    }

    .footerGridFour {
        display: block;
        margin-top: -85px;
        margin-left: -50px;
    }

    .aboutTitle {
        width: 90%;
        padding: 80px 0px 0px 0px;
        font-size: 2rem;
    }

    .aboutDescriptionContainer {
        padding: 50px 0px;
    }
}

@media screen and (max-width:375px ) {
    .logo {
        width: 250px;
    }

    .navbar-toggle {
        right: 0px;
        padding: 20px;
        top: 7px;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        width: 100%;
        align-items: center;
    }

    .gtTextOne {
        font-size: 0.85rem;
    }

    .gcoHeading {
        font-size: 1.5rem;
    }

    .instaLink {
        text-decoration: none;
        font-size: 1.3rem;
        color: white;
    }

    .insta {
        padding: 0px 5px 0px 0px;
    }

    .pizza {
        width: 250px;
        height: 250px;
    }

    .fgoLogo {
        width: 290px;
        height: auto;
    }
     
    .footerGridTwo {
        margin-left: -90px;
    }

    .footerGridFour {
        margin-left: 0px;
    }

    iframe {
        width: 250px;
    }

    .fgfText {
        width: 250px;
    }
}

@media screen and (max-width:320px ) {
    .logo {
        position: relative;
        width: 245px;
        left: -15px;
    }

    .navbar-toggle {
        right: -18px;
        padding: 20px;
        top: 9px;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        width: 100%;
        align-items: center;
    }

    .gtTextOne {
        font-size: 0.85rem;
    }

    .gcoHeading {
        font-size: 1.5rem;
    }

    .gridImg {
        height: 310px;
    }

    .instaLink {
        text-decoration: none;
        font-size: 1.3rem;
        color: white;
    }

    .insta {
        padding: 0px 5px 0px 0px;
    }

    .instadesc {
        font-size: 0.85rem;
    }

    .pizza {
        width: 250px;
        height: 250px;
    }

    .footerGridTwo {
        margin-left: -100px;
    }

    .footerGridFour {
        margin-left: -10px;
    }
}

