@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

button a {
    -webkit-tap-highlight-color: transparent !important;
}

.container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.mainContainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.headingSection {
    width: 100%;
}

.header {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    position: fixed;
    flex-direction: column;
    z-index: 2;
}

.mainText {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: auto;
    margin-top: -25px;
}

.navbar-links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -40px;
}

.navUL {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
}

.mainLI {
    padding: 0px 20px 0px 70px;
    font-size: 15px;
    text-transform: uppercase;
}

li .navLinks {
    text-decoration: none;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight:500;
    letter-spacing: 1.75px;
    font-style: normal;
}

li .navLinks:hover {
    color:#d4af37;
    transform: scale(1.2);
    text-shadow: none;
    transition: all 0.5s ease;
}


.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.icon-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 3px;
    background-color: white;
    color: white;
    margin: 5px 0px 5px 0px;
    transition: all 0.3s ease;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    border: 1px solid #091242;
    border-radius: 100px;
}


.icon-bar.cross:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.icon-bar.cross:nth-child(2) {
    opacity: 0;
}
  
.icon-bar.cross:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.about-us-banner {
    background-image: url("./assets/mainBG.png") ; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
} 

.containerText {
    margin-top: 0px;
}

.a-container {
    width: 100%;
    margin-top: 50px;
}

.page-title {
    color: #fff;
    font-size: 3.75rem;
    line-height: 1.2;
    font-family: "Merienda", cursive;
    font-weight: 500;
    padding: 0px 0px 10px 0px;
    margin: 0;
}

.page-title-one {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.2;
    font-family: "Merienda", cursive;
    font-weight: 500;
    margin: 0;
    padding: 0px 0px 25px 0px;
}

.page-title-two {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.75;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 35px 0px 0px 0px;
}

.onlineOrder {
    top: 60%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center; 
    z-index: 2; 
    cursor: pointer;
    border-radius: 50px;
    transition-duration: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 14px 14px 16px;
    background-color: white;
    display: inline-block;
    height: auto;
}


.onlineOrder:hover {
    background-color: #d2691e;
    box-shadow:none;
}

.orderButton {
    text-decoration: none;
    color: black;
}

.orderButton:hover {
    color:white;
}


.sectionTwo {
    width: 100%;
    height: auto;
    background-color: #171717;
    padding-top: 100px;
    padding-bottom: 100px;
}

.gridContainer {
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-column-gap: 75px;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 0px;
}

.gridText {
    height: auto;
    text-align: justify;
}

.gtHeading {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    font-family: "Merienda", cursive;
}

.gtTextOne {
    font-size: 1.35rem;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    line-height: 1.3;
    text-align: justify;
}

.menu-button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: .3s;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 14px 14px 16px;
    background-color: #fff;
    display: inline-block;
}

.menuBtn {
    color: black;
    text-decoration: none;
}

.menu-button:hover {
    background-color: #d2691e;
}

.menuBtn:hover {
    color: white;
}

.gridImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    filter: brightness(0.5);
}

.gridImg {
    width: 100%;
}

.thirdContainer {
    padding-top: 100px;
    padding-bottom: 70px;
    background-color:#212121;
}

.gridContainerOne {
    width: 90%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 2fr;
    grid-auto-columns: 1fr;
    padding-top: 0px;
}

.gcoText {
    height: auto;
    text-align: justify;
    font-family: "Lato", sans-serif;
    color: white;
}

.gcoDesc {
    margin-bottom: 200px;
    line-height: 1;
    text-align: justify;
}

.gcoHeading {
    font-family: "lato", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    line-height: 2;
}

.instadesc {
    font-family: "lato", sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.2;
}

.gcoLinkWrap {
    display: flex;
    align-items: center;
}

.insta {
    padding: 0px 20px 0px 0px;
}

.instaLink {
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
}

.gcoImg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rightPhoto {
    display: flex;
    flex-direction: column;
    margin-left: -230px;
    z-index: 1;
    position: absolute;
}

.brownie {
    width: 125px;
    margin: 5px 0px -25px -125px;
}

.cake {
    width: 120px;
    margin: 5px 0px 0px -175px;
}

.cupcake {
    width: 100px;
    margin: -15px 0px 0px -110px;
}

.centerPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.pizza {
    width: 300px;
    height: 300px;
}

.leftPhoto {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 95px;
    z-index: 1;
}

.birthday {
    width: 125px;
    margin: 0px 125px 5px 0px;
}

.oreo {
    width: 120px;
    margin:-25px 0px 0px 75px;
}

.sandwich {
    width: 100px;
    margin: -10px 0px 15px 35px;
}









/* CONTACT PAGE  */





























@media screen and (max-width: 1025px)  {
    .header {
        flex-direction: row;
        height: 100px;
        justify-content: flex-start;
    }

    .logo {
        width: 375px;
        margin-left: 20px; 
        margin-top: 15px;
    }

    .mainText {
        padding: 20px 0px 20px 0px;
    }
    
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        position: absolute;
        top: 108%;
        left: 0;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        align-items: center;
    }

    .navbar-links.open {
        display: block;
        position: fixed;
        left: 0;
        background-color: rgba(0, 0, 0, 1);
        color: white !important;
        box-sizing: border-box;
        top: 120px;
    }

    .navbar-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 29px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        background-color: transparent;
        color: white;
    }

    .navbar-toggle.open .icon-bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
      .navbar-toggle.open .icon-bar:nth-child(2) {
        opacity: 0;
    }
    
      .navbar-toggle.open .icon-bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
      
      ::-webkit-scrollbar {
        display: none;
    } 

    .imageText {
        top: 35%;
        font-size: 3.2rem;
    } 

    .textImage {
        font-size: 1.55rem;
    }

    .onlineOrder {
        top: 63%;
        font-size: 1rem;
        width: 180px;
    }

    .page-title-one {
        margin-left: 0px;
    }

    .thirdContainer {
        width: 100%;
        height: auto;
        padding-top: 50px;
        padding-bottom: 75px;
    }

    .gridContainerOne {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        height: auto;
    }

    .gcoDesc {
        margin-bottom: 20px;
    }

    .rightPhoto {
        display: none;
    }

    .centerPhoto {
        position: relative;
    }

    .leftPhoto {
        display: none;
    }
}

@media screen and (max-width: 992px) {

    .header {
        flex-direction: row;
        height: 100px;
    }

    .mainText {
        justify-content: left;
        padding: 20px 0px 20px 0px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        position: absolute;
        top: 108%;
        left: 0;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        align-items: center;
        width: 100%;
    }

    .navbar-links.open {
        display: block;
        position: fixed;
        left: 0;
        background-color: rgba(0, 0, 0, 1);
        color: white !important;
        box-sizing: border-box;
    }

    .navbar-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 29px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        background-color: transparent;
        color: white;
    }

    .navbar-toggle.open .icon-bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
      .navbar-toggle.open .icon-bar:nth-child(2) {
        opacity: 0;
    }
    
      .navbar-toggle.open .icon-bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
      
      ::-webkit-scrollbar {
        display: none;
    }

    .page-title {
        margin-left: 0px;
    }

   .page-title-one {
        margin-left: 0px;
   }

   .page-title-two {
        font-size: 1.5rem;
        margin-left:0px;
    }

    .onlineOrder {
        top: 65%;
    }

    .sectionTwo {
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .gridContainer {
        flex-direction: column-reverse;
        display: flex;
    }

    .gridImage {
        padding-bottom: 20px;
    }
}


@media screen and (max-width:769px) {
    .logo {
        width: 350px;
    }

    .about-us-banner {
        padding-top: 100px; 
        padding-bottom: 75px; 
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        align-items: center;
        width: 100%;
    }
    
    .page-title {
        font-size: 2.5rem; 
    }

    .page-title-one {
        font-size: 2rem; 
    }

    .page-title-two {
        font-size: 1.5rem;
    }

    .onlineOrder {
        width: 180px;
        font-size: 1rem;
    }

}

@media screen and (max-width:481px ) {
    .header {
        flex-direction: row;
        height: 100px;
    }

    .logo {
        width: 300px;
    }

    .navbar-toggle {
        right: 0px;
        padding: 20px;
        top: 10px;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        align-items: center;
        width: 100%;
    }

    .navbar-links.open {
        top: 110px;
    }

    .a-container {
        margin-left: -80px;
    }

    .page-title {
        font-size: 2.5rem; 
        margin-left: 90px;
    }

    .page-title-one {
        font-size: 1.75rem; 
        margin-left: 90px;
    }

    .page-title-two {
        font-size: 1rem;
        margin-left:90px;
    }

    .onlineOrder {
        margin-left: 90px;
    }

    .gtTextOne {
        font-size: 1rem;
    }

    .gcoLinkWrap {
        margin-bottom: 25px;
    }

    .thirdContainer {
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width:375px ) {
    .logo {
        width: 250px;
    }

    .navbar-toggle {
        right: 0px;
        padding: 20px;
        top: 7px;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        width: 100%;
        align-items: center;
    }

    .gtTextOne {
        font-size: 0.85rem;
    }

    .gcoHeading {
        font-size: 1.5rem;
    }

    .instaLink {
        text-decoration: none;
        font-size: 1.3rem;
        color: white;
    }

    .insta {
        padding: 0px 5px 0px 0px;
    }

    .pizza {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width:320px ) {
    .logo {
        position: relative;
        width: 245px;
        left: -15px;
    }

    .navbar-toggle {
        right: -18px;
        padding: 20px;
        top: 9px;
    }

    .navUL {
        display: flex;
        flex-direction: column;
        line-height: 2.5;
        width: 100%;
        align-items: center;
    }

    .gtTextOne {
        font-size: 0.85rem;
    }

    .gcoHeading {
        font-size: 1.5rem;
    }

    .instaLink {
        text-decoration: none;
        font-size: 1.3rem;
        color: white;
    }

    .insta {
        padding: 0px 5px 0px 0px;
    }

    .pizza {
        width: 250px;
        height: 250px;
    }
}

